## Data Exploration

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.size'] = 12

In [53]:
file_path = '../data/startup data.csv'
try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print(f"ERROR: File not found at '{file_path}'.")
    print("Please ensure you have downloaded 'startup_data.csv' from Kaggle and placed it in the same directory.")
except Exception as e:
    print(f"An error occurred during loading: {e}")

In [54]:
df

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,352,CA,37.740594,-122.376471,94107,c:21343,San Francisco,NaN,CoTweet,1,...,c:21343,0,0,1,0,0,0,6.0000,1,acquired
919,721,MA,42.504817,-71.195611,1803,c:41747,Burlington,Burlington MA 1803,Reef Point Systems,0,...,c:41747,1,0,0,1,0,0,2.6667,1,closed
920,557,CA,37.408261,-122.015920,94089,c:31549,Sunnyvale,NaN,Paracor Medical,0,...,c:31549,0,0,0,0,0,1,8.0000,1,closed
921,589,CA,37.556732,-122.288378,94404,c:33198,San Francisco,NaN,Causata,1,...,c:33198,0,0,1,1,0,0,1.0000,1,acquired
922,462,CA,37.386778,-121.966277,95054,c:26702,Santa Clara,Santa Clara CA 95054,Asempra Technologies,1,...,c:26702,0,0,0,1,0,0,3.0000,1,acquired

In [55]:
df.describe()

,Unnamed: 0,latitude,longitude,labels,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,...,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500
count,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,771.000000,771.000000,923.000000,923.000000,...,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000,923.000000
mean,572.297941,38.517442,-103.539212,0.646804,2.235630,3.931456,3.055353,4.754423,7.710726,2.310943,...,0.003250,0.322860,0.326111,0.254605,0.508126,0.392199,0.232936,0.099675,2.838586,0.809317
std,333.585431,3.741497,22.394167,0.478222,2.510449,2.967910,2.977057,3.212107,7.265776,1.390922,...,0.056949,0.467823,0.469042,0.435875,0.500205,0.488505,0.422931,0.299729,1.874601,0.393052
min,1.000000,25.752358,-122.756956,0.000000,-9.046600,-9.046600,-14.169900,-7.005500,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,283.500000,37.388869,-122.198732,0.000000,0.576700,1.669850,1.000000,2.411000,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,1.000000
50%,577.000000,37.779281,-118.374037,1.000000,1.446600,3.528800,2.520500,4.476700,5.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.500000,1.000000
75%,866.500000,40.730646,-77.214731,1.000000,3.575350,5.560250,4.686300,6.753400,10.000000,3.000000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,3.800000,1.000000
max,1153.000000,59.335232,18.057121,1.000000,21.895900,21.895900,24.684900,24.684900,63.000000,10.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,1.000000

In [56]:
print(df.isnull().sum())

Unnamed: 0                    0
state_code                    0
latitude                      0
longitude                     0
zip_code                      0
id                            0
city                          0
Unnamed: 6                  493
name                          0
labels                        0
founded_at                    0
closed_at                   588
first_funding_at              0
last_funding_at               0
age_first_funding_year        0
age_last_funding_year         0
age_first_milestone_year    152
age_last_milestone_year     152
relationships                 0
funding_rounds                0
funding_total_usd             0
milestones                    0
state_code.1                  1
is_CA                         0
is_NY                         0
is_MA                         0
is_TX                         0
is_otherstate                 0
category_code                 0
is_software                   0
is_web                        0
is_mobile                     0
is_enterprise                 0
is_advertising                0
is_gamesvideo                 0
is_ecommerce                  0
is_biotech                    0
is_consulting                 0
is_othercategory              0
object_id                     0
has_VC                        0
has_angel                     0
has_roundA                    0
has_roundB                    0
has_roundC                    0
has_roundD                    0
avg_participants              0
is_top500                     0
status                        0
dtype: int64

### Exploring Unnamed: 0
- it has no null values
- all values in this column are unique
- it is probably some sort of identifier

In [57]:
df["Unnamed: 0"].nunique()

923

In [58]:
df["Unnamed: 0"]

0      1005
1       204
2      1001
3       738
4      1002
       ...
918     352
919     721
920     557
921     589
922     462
Name: Unnamed: 0, Length: 923, dtype: int64

In [59]:
#check if it equals the id column
df["Unnamed: 0"].equals(df["id"])

False

### Exploring Unnamed: 6
- it is cleare that this column contains the locations
- using regex, it matches the existing columns: zip_code, city and state_code in most cases
- since it is a duplicated info it can be dropped

In [60]:
df["Unnamed: 6"].unique()

array([nan, 'San Diego CA 92121', 'Cupertino CA 95014',
       'San Francisco CA 94105', 'Mountain View CA 94043',
       'Williamstown MA 1267', 'Vienna VA 22182', 'New York NY 10004',
       'Chicago IL 60601', 'Berkeley CA 94704', 'Santa Ana CA 92705',
       'Moffett Field CA 94035', 'Seattle WA 98119',
       'Pittsburgh PA 15219', 'New York NY 10011', 'San Jose CA 95134',
       'Manchester NH 3101', 'Sunnyvale CA 94085', 'New York NY 100011',
       'Cambridge MA 2139', 'San Francisco CA 94607',
       'South San Francisco CA 94080', 'Boston MA 2210',
       'Austin TX 78731', 'Waltham MA 2451', 'Palo Alto CA 94301',
       'Palo Alto CA 95128', 'Wilmington MA 1887',
       'Kirkland WA 98033-6314', 'Tampa FL 33609', 'Boston MA 02111-1720',
       'Fremont CA 94538', 'Santa Clara CA 95051',
       'San Francisco CA 94107', 'Cambridge MA 2138', 'Princeton NJ 8540',
       'Loveland CO 80538', 'Kearneysville WV 25430',
       'Mountain View CA 94041', 'San Francisco CA 94110',
       'Alpharetta GA 30009', 'Seattle WA 98104', 'Bellevue WA 98004',
       'San Jose CA 95128', 'Chicago IL 60607', 'Milpitas CA 95035-6261',
       'San Diego CA 92101', 'San Francisco CA 94103',
       'Burlingame CA 94010', 'New York NY 10001', 'Somerville MA 2143',
       'New York NY 10003', 'Timonium MD 21093', 'Pittsburgh PA 15213',
       'Reston VA 20191', 'Chicago IL 60606', 'Palo Alto CA 94303',
       'Cincinnati OH 45202', 'Atlanta GA 30305', 'Sterling VA 20166',
       'Oakland CA 94609', 'Boston MA 2109', 'Centennial CO 80112',
       'Chicago IL 60631', 'Memphis TN 38103-4717', 'New York NY 10013',
       'Plymouth MN 55441', 'San Francisco CA 94108', 'New York NY 10012',
       'Pittsburgh PA 15218', 'Santa Monica CA 90405',
       'Warrenville IL 60555', 'Austin TX 78729',
       'Marlborough MA 01752-4603', 'New York NY 10154',
       'Playa Vista CA 90094', 'Providence RI 2906',
       'Mountain View CA 94043-1107', 'Plano TX 75023',
       'Chicago IL 60657', 'Austin TX 78701', 'Portland OR 97209',
       'Allentown PA 18106', 'Los Angeles CA 90017', 'Denver CO 80202',
       'Providence RI 2903', 'Redwood City CA 94065',
       'Salt Lake City UT 84124', 'Palo Alto CA 94306',
       'Burlington MA 1803', 'Seattle WA 98103', 'Alameda CA 94501',
       'Durham NC 27701', 'Redwood City CA 94063', 'San Mateo CA 94401',
       'Weston FL 33327', 'San Francisco CA 94104',
       'Santa Monica CA 90401', 'Santa Clara CA 95054',
       'Mountain View CA 94040', 'SPOKANE WA 99202', 'Maynard MA 1754',
       'Frederick MD 21703', 'West Newfield ME 4095', 'NY NY 10011',
       'San Francisco CA 94111', 'Austin TX 78759', 'San Diego CA 92130',
       'Richardson TX 75081', 'Herndon VA 20170', 'Paramus NJ 7652',
       'Minneapolis MN 55311', 'Durham NC 27713', 'New York NY 10005',
       'Addison TX 75001', 'Irvine CA 92612', 'Woburn MA 1801',
       'New York City NY 10013', 'Los Angeles CA 90046',
       'San Bruno CA 94066', 'Boston MA 2114', 'Irvine CA 92618',
       'Santa Monica CA 90404', 'New York NY 10016', 'Henderson NV 89052',
       'Woodbury NY 11797', 'New York NY 10010', 'Littleton MA 1460',
       'Los Angeles CA 90032', 'Los Gatos CA 95030',
       'Broomfield CO 80021', 'Portland OR 97214', 'Boston MA 2111',
       'Beverly Hills CA 90211', 'Hartford CT 6103',
       'Greenwood Village CO 80111', 'Seattle WA 98109',
       'College Park MD 20742', 'Los Angeles CA 90015',
       'New York NY 10119', 'Lexington MA 2421', 'Foster City CA 94404',
       'Los Angeles CA 90049', 'Richardson TX 75082',
       'Los Angeles CA 90064', 'Albuquerque NM 87102', 'Red Bank NJ 7701',
       'Boston MA 2110', 'New York City NY 10018', 'Brooklyn NY 11201',
       'Philadelphia PA 19104', 'Los Angeles CA 90024',
       'San Mateo CA 94403', 'New Hope PA 18938', 'Los Angeles CA 90039',
       'Petaluma CA 94954', 'North Hollywood CA 91601',
       'New York City NY 10010', 'West Chester PA 19380',
       'Nashville TN 37201', 'Bedford MA 1730', 'Puyallup WA 98371',
       'Boxborough MA 1719', 'San Mateo CA 94404', 'Louisville CO 80027',
       'Campbell CA 95008-2069', 'New York NY 10017',
       'Lexington KY 40507', 'Lake Oswego OR 97035', 'Dedham MA 2026',
       'Lawrenceville GA 30043', 'Jersey City NJ 7302', 'NYC NY 10012',
       'Annapolis MD 21401', 'Washington DC 20009', 'Las Vegas NV 89101',
       'Minnetonka MN 55343', 'New York NY 10014', 'Vancouver WA 98665',
       'Pleasanton CA 94566', 'El Segundo CA 90245', 'Farmington CT 6032',
       'San Jose CA 95138', 'San Francisco CA 94133',
       'Menlo Park CA 94025', 'Seattle WA 98121', 'Saint Paul MN 55113',
       'Philadelphia PA 19103', 'Champaign IL 61820',
       'Golden Valley MN 55416', 'Cambridge MA 2140', 'Seattle WA 98102',
       'Brisbane CA 94005', 'Westford MA 1886', 'Raleigh NC 27518',
       'Billerica MA 1821', 'Chicago IL 60654', 'Campbell CA 95008',
       'Brooklyn NY 11217', 'Brooklyn NY 11222', 'San Jose CA 95110',
       'Austin TX 78730', 'Washington DC 20005', 'Waltham MA 2452',
       'Fremont CA 94555-3619', 'San Francisco CA 92606',
       'Hollywood CA 90028', 'Los Angeles CA 90301',
       'Hillsborough NJ 8844', 'Potomac Falls VA 20165',
       'Santa Barbara CA 93105', 'Chicago CA 60606', 'Framingham MA 1702',
       'Rye Brook NY 10573', 'Brooklyn NY 11211', 'Yardley PA 19067',
       'San Francisco CA 94109', 'San Rafael CA 94903',
       'Pasadena CA 91105', 'Portland OR 97201', 'Cambridge MA 2142',
       'Sunnyvale CA 94089', 'Kenmore NY 14217', 'La Jolla CA 92037',
       'Pleasanton CA 94588', 'San Diego CA 92130-2042',
       'Cleveland OH 44131', 'Provo UT 84087', 'Palo Alto CA 94304',
       'New York NY 10036', 'Columbus OH 43207', 'Portland OR 97204',
       'Sunnyvale CA 94086', 'Redwood City CA 94063-2026',
       'Yorba Linda CA 92887', 'Tempe AZ 85284', 'Toledo OH 43607',
       'Seattle WA 98101', 'Carlsbad CA 92008', 'San Mateo CA 94402',
       'Westport CT 6880', 'Chelmsford MA 1824', 'Boulder CO 80302',
       'Austin TX 78746', 'Hampton NJ 8827', 'Idaho Falls ID 83402',
       'Mountain View CA 94040-2573', 'Acton MA 1720',
       'Aliso Viejo CA 92656', 'Portland OR 97224',
       'Palo Alto CA 94301-1705', 'Little Rock AR 72201',
       'Houston TX 77046'], dtype=object)

In [61]:
import re

In [62]:
# --- 1. Define the Regex Pattern ---
# Pattern: (City) + (StateCode) + (ZIPCode)
# The pattern uses (\d{4,5}) to handle both 5-digit and 4-digit ZIP codes.
LOCATION_PATTERN = re.compile(r'(.*?)\s+([A-Z]{2})\s+(\d{4,5})')

print("--- Location Comparison Check (No DataFrame Modified) ---")
print("Format: (Index) | Overall Status | Specific Component Matches | Extracted Data | Existing Data | Source Value")
print("-" * 140)

total_checks = 0
total_matches = 0

# Iterate through the DataFrame rows
for index, row in df.iterrows():
    location_str = row['Unnamed: 6']

    # Crucially, skip null/NaN values
    if pd.isna(location_str):
        print(f"({index:02d}) | --- SKIPPED --- (Source is NaN)")
        continue

    total_checks += 1
    location_str = str(location_str).strip()
    match = LOCATION_PATTERN.search(location_str)

    if match:
        # 1. Extract components and standardize (strip whitespace, lowercase)
        extracted_city = match.group(1).strip().lower()
        extracted_state_code = match.group(2).lower()
        extracted_zip_code = match.group(3)

        # 2. Get existing components and standardize (strip whitespace, lowercase)
        # Note: 'zip_code' is treated as a string for comparison
        existing_city = str(row['city']).strip().lower()
        existing_state_code = str(row['state_code']).strip().lower()
        existing_zip_code = str(row['zip_code']).strip()

        # 3. Perform comparisons (case/whitespace insensitive)
        zip_match = extracted_zip_code == existing_zip_code
        state_match = extracted_state_code == existing_state_code
        city_match = extracted_city == existing_city

        all_match = zip_match and state_match and city_match

        if all_match:
            total_matches += 1

        # 4. Format the output
        city_status = 'City' if city_match else 'CITY ❌'
        state_status = 'State' if state_match else 'STATE ❌'
        zip_status = 'ZIP' if zip_match else 'ZIP ❌'

        extracted_loc = f"{match.group(1)}, {match.group(2)} {match.group(3)}"
        existing_loc = f"{row['city']}, {row['state_code']} {row['zip_code']}"

        print(f"({index:02d}) | {'✅ MATCH' if all_match else '❌ MISMATCH'} ({city_status}, {state_status}, {zip_status}) | Extracted: '{extracted_loc}' | Existing: '{existing_loc}' | Source: '{location_str}'")

    else:
        print(f"({index:02d}) | ❓ NO REGEX MATCH | Source: '{location_str}'")

print("-" * 140)
print(f"Summary: {total_matches} out of {total_checks} non-null records fully matched.")

--- Location Comparison Check (No DataFrame Modified) ---
Format: (Index) | Overall Status | Specific Component Matches | Extracted Data | Existing Data | Source Value
--------------------------------------------------------------------------------------------------------------------------------------------
(00) | --- SKIPPED --- (Source is NaN)
(01) | --- SKIPPED --- (Source is NaN)
(02) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Diego, CA 92121' | Existing: 'San Diego, CA 92121' | Source: 'San Diego CA 92121'
(03) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cupertino, CA 95014' | Existing: 'Cupertino, CA 95014' | Source: 'Cupertino CA 95014'
(04) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(05) | ✅ MATCH (City, State, ZIP) | Extracted: 'Mountain View, CA 94043' | Existing: 'Mountain View, CA 94043' | Source: 'Mountain View CA 94043'
(06) | --- SKIPPED --- (Source is NaN)
(07) | --- SKIPPED --- (Source is NaN)
(08) | ✅ MATCH (City, State, ZIP) | Extracted: 'Williamstown, MA 1267' | Existing: 'Williamstown, MA 1267' | Source: 'Williamstown MA 1267'
(09) | --- SKIPPED --- (Source is NaN)
(10) | --- SKIPPED --- (Source is NaN)
(11) | --- SKIPPED --- (Source is NaN)
(12) | --- SKIPPED --- (Source is NaN)
(13) | --- SKIPPED --- (Source is NaN)
(14) | --- SKIPPED --- (Source is NaN)
(15) | ✅ MATCH (City, State, ZIP) | Extracted: 'Vienna, VA 22182' | Existing: 'Vienna, VA 22182' | Source: 'Vienna VA 22182'
(16) | --- SKIPPED --- (Source is NaN)
(17) | --- SKIPPED --- (Source is NaN)
(18) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10004' | Existing: 'New York, NY 10004' | Source: 'New York NY 10004'
(19) | --- SKIPPED --- (Source is NaN)
(20) | --- SKIPPED --- (Source is NaN)
(21) | --- SKIPPED --- (Source is NaN)
(22) | --- SKIPPED --- (Source is NaN)
(23) | --- SKIPPED --- (Source is NaN)
(24) | --- SKIPPED --- (Source is NaN)
(25) | ✅ MATCH (City, State, ZIP) | Extracted: 'Chicago, IL 60601' | Existing: 'Chicago, IL 60601' | Source: 'Chicago IL 60601'
(26) | --- SKIPPED --- (Source is NaN)
(27) | ✅ MATCH (City, State, ZIP) | Extracted: 'Berkeley, CA 94704' | Existing: 'Berkeley, CA 94704' | Source: 'Berkeley CA 94704'
(28) | --- SKIPPED --- (Source is NaN)
(29) | ✅ MATCH (City, State, ZIP) | Extracted: 'Santa Ana, CA 92705' | Existing: 'Santa Ana, CA 92705' | Source: 'Santa Ana CA 92705'
(30) | ✅ MATCH (City, State, ZIP) | Extracted: 'Moffett Field, CA 94035' | Existing: 'Moffett Field, CA 94035' | Source: 'Moffett Field CA 94035'
(31) | ✅ MATCH (City, State, ZIP) | Extracted: 'Seattle, WA 98119' | Existing: 'Seattle, WA 98119' | Source: 'Seattle WA 98119'
(32) | --- SKIPPED --- (Source is NaN)
(33) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(34) | ✅ MATCH (City, State, ZIP) | Extracted: 'Pittsburgh, PA 15219' | Existing: 'Pittsburgh, PA 15219' | Source: 'Pittsburgh PA 15219'
(35) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10011' | Existing: 'New York, NY 10011' | Source: 'New York NY 10011'
(36) | --- SKIPPED --- (Source is NaN)
(37) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Jose, CA 95134' | Existing: 'San Jose, CA 95134' | Source: 'San Jose CA 95134'
(38) | --- SKIPPED --- (Source is NaN)
(39) | --- SKIPPED --- (Source is NaN)
(40) | --- SKIPPED --- (Source is NaN)
(41) | ✅ MATCH (City, State, ZIP) | Extracted: 'Manchester, NH 3101' | Existing: 'Manchester, NH 3101' | Source: 'Manchester NH 3101'
(42) | --- SKIPPED --- (Source is NaN)
(43) | --- SKIPPED --- (Source is NaN)
(44) | --- SKIPPED --- (Source is NaN)
(45) | ✅ MATCH (City, State, ZIP) | Extracted: 'Sunnyvale, CA 94085' | Existing: 'Sunnyvale, CA 94085' | Source: 'Sunnyvale CA 94085'
(46) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'New York, NY 10001' | Existing: 'New York, NY 100011' | Source: 'New York NY 100011'
(47) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cambridge, MA 2139' | Existing: 'Cambridge, MA 2139' | Source: 'Cambridge MA 2139'
(48) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94607' | Existing: 'San Francisco, CA 94607' | Source: 'San Francisco CA 94607'
(49) | --- SKIPPED --- (Source is NaN)
(50) | ✅ MATCH (City, State, ZIP) | Extracted: 'South San Francisco, CA 94080' | Existing: 'South San Francisco, CA 94080' | Source: 'South San Francisco CA 94080'
(51) | ✅ MATCH (City, State, ZIP) | Extracted: 'Boston, MA 2210' | Existing: 'Boston, MA 2210' | Source: 'Boston MA 2210'
(52) | ✅ MATCH (City, State, ZIP) | Extracted: 'Austin, TX 78731' | Existing: 'Austin, TX 78731' | Source: 'Austin TX 78731'
(53) | ✅ MATCH (City, State, ZIP) | Extracted: 'Waltham, MA 2451' | Existing: 'Waltham, MA 2451' | Source: 'Waltham MA 2451'
(54) | --- SKIPPED --- (Source is NaN)
(55) | ✅ MATCH (City, State, ZIP) | Extracted: 'Palo Alto, CA 94301' | Existing: 'Palo Alto, CA 94301' | Source: 'Palo Alto CA 94301'
(56) | ✅ MATCH (City, State, ZIP) | Extracted: 'Palo Alto, CA 95128' | Existing: 'Palo Alto, CA 95128' | Source: 'Palo Alto CA 95128'
(57) | --- SKIPPED --- (Source is NaN)
(58) | --- SKIPPED --- (Source is NaN)
(59) | --- SKIPPED --- (Source is NaN)
(60) | ✅ MATCH (City, State, ZIP) | Extracted: 'Wilmington, MA 1887' | Existing: 'Wilmington, MA 1887' | Source: 'Wilmington MA 1887'
(61) | --- SKIPPED --- (Source is NaN)
(62) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Kirkland, WA 98033' | Existing: 'Kirkland, WA 98033-6314' | Source: 'Kirkland WA 98033-6314'
(63) | ✅ MATCH (City, State, ZIP) | Extracted: 'Tampa, FL 33609' | Existing: 'Tampa, FL 33609' | Source: 'Tampa FL 33609'
(64) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Boston, MA 02111' | Existing: 'Boston, MA 02111-1720' | Source: 'Boston MA 02111-1720'
(65) | --- SKIPPED --- (Source is NaN)
(66) | --- SKIPPED --- (Source is NaN)
(67) | --- SKIPPED --- (Source is NaN)
(68) | --- SKIPPED --- (Source is NaN)
(69) | --- SKIPPED --- (Source is NaN)
(70) | --- SKIPPED --- (Source is NaN)
(71) | --- SKIPPED --- (Source is NaN)
(72) | --- SKIPPED --- (Source is NaN)
(73) | --- SKIPPED --- (Source is NaN)
(74) | --- SKIPPED --- (Source is NaN)
(75) | ✅ MATCH (City, State, ZIP) | Extracted: 'Fremont, CA 94538' | Existing: 'Fremont, CA 94538' | Source: 'Fremont CA 94538'
(76) | ✅ MATCH (City, State, ZIP) | Extracted: 'Santa Clara, CA 95051' | Existing: 'Santa Clara, CA 95051' | Source: 'Santa Clara CA 95051'
(77) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94107' | Existing: 'San Francisco, CA 94107' | Source: 'San Francisco CA 94107'
(78) | --- SKIPPED --- (Source is NaN)
(79) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cambridge, MA 2138' | Existing: 'Cambridge, MA 2138' | Source: 'Cambridge MA 2138'
(80) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(81) | ✅ MATCH (City, State, ZIP) | Extracted: 'Princeton, NJ 8540' | Existing: 'Princeton, NJ 8540' | Source: 'Princeton NJ 8540'
(82) | ✅ MATCH (City, State, ZIP) | Extracted: 'Loveland, CO 80538' | Existing: 'Loveland, CO 80538' | Source: 'Loveland CO 80538'
(83) | --- SKIPPED --- (Source is NaN)
(84) | --- SKIPPED --- (Source is NaN)
(85) | ✅ MATCH (City, State, ZIP) | Extracted: 'Kearneysville, WV 25430' | Existing: 'Kearneysville, WV 25430' | Source: 'Kearneysville WV 25430'
(86) | --- SKIPPED --- (Source is NaN)
(87) | --- SKIPPED --- (Source is NaN)
(88) | ✅ MATCH (City, State, ZIP) | Extracted: 'Mountain View, CA 94041' | Existing: 'Mountain View, CA 94041' | Source: 'Mountain View CA 94041'
(89) | --- SKIPPED --- (Source is NaN)
(90) | --- SKIPPED --- (Source is NaN)
(91) | --- SKIPPED --- (Source is NaN)
(92) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(93) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94110' | Existing: 'San Francisco, CA 94110' | Source: 'San Francisco CA 94110'
(94) | --- SKIPPED --- (Source is NaN)
(95) | ✅ MATCH (City, State, ZIP) | Extracted: 'Mountain View, CA 94043' | Existing: 'Mountain View, CA 94043' | Source: 'Mountain View CA 94043'
(96) | --- SKIPPED --- (Source is NaN)
(97) | --- SKIPPED --- (Source is NaN)
(98) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(99) | --- SKIPPED --- (Source is NaN)
(100) | ✅ MATCH (City, State, ZIP) | Extracted: 'Alpharetta, GA 30009' | Existing: 'Alpharetta, GA 30009' | Source: 'Alpharetta GA 30009'
(101) | ✅ MATCH (City, State, ZIP) | Extracted: 'Seattle, WA 98104' | Existing: 'Seattle, WA 98104' | Source: 'Seattle WA 98104'
(102) | ✅ MATCH (City, State, ZIP) | Extracted: 'Bellevue, WA 98004' | Existing: 'Bellevue, WA 98004' | Source: 'Bellevue WA 98004'
(103) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Jose, CA 95128' | Existing: 'San Jose, CA 95128' | Source: 'San Jose CA 95128'
(104) | --- SKIPPED --- (Source is NaN)
(105) | --- SKIPPED --- (Source is NaN)
(106) | --- SKIPPED --- (Source is NaN)
(107) | ✅ MATCH (City, State, ZIP) | Extracted: 'Chicago, IL 60607' | Existing: 'Chicago, IL 60607' | Source: 'Chicago IL 60607'
(108) | --- SKIPPED --- (Source is NaN)
(109) | --- SKIPPED --- (Source is NaN)
(110) | --- SKIPPED --- (Source is NaN)
(111) | --- SKIPPED --- (Source is NaN)
(112) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Milpitas, CA 95035' | Existing: 'Milpitas, CA 95035-6261' | Source: 'Milpitas CA 95035-6261'
(113) | --- SKIPPED --- (Source is NaN)
(114) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Diego, CA 92101' | Existing: 'San Diego, CA 92101' | Source: 'San Diego CA 92101'
(115) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94103' | Existing: 'San Francisco, CA 94103' | Source: 'San Francisco CA 94103'
(116) | ✅ MATCH (City, State, ZIP) | Extracted: 'Burlingame, CA 94010' | Existing: 'Burlingame, CA 94010' | Source: 'Burlingame CA 94010'
(117) | --- SKIPPED --- (Source is NaN)
(118) | --- SKIPPED --- (Source is NaN)
(119) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10001' | Existing: 'New York, NY 10001' | Source: 'New York NY 10001'
(120) | ✅ MATCH (City, State, ZIP) | Extracted: 'Somerville, MA 2143' | Existing: 'Somerville, MA 2143' | Source: 'Somerville MA 2143'
(121) | --- SKIPPED --- (Source is NaN)
(122) | --- SKIPPED --- (Source is NaN)
(123) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10003' | Existing: 'New York, NY 10003' | Source: 'New York NY 10003'
(124) | ✅ MATCH (City, State, ZIP) | Extracted: 'Fremont, CA 94538' | Existing: 'Fremont, CA 94538' | Source: 'Fremont CA 94538'
(125) | ✅ MATCH (City, State, ZIP) | Extracted: 'Waltham, MA 2451' | Existing: 'Waltham, MA 2451' | Source: 'Waltham MA 2451'
(126) | ✅ MATCH (City, State, ZIP) | Extracted: 'Timonium, MD 21093' | Existing: 'Timonium, MD 21093' | Source: 'Timonium MD 21093'
(127) | ✅ MATCH (City, State, ZIP) | Extracted: 'Pittsburgh, PA 15213' | Existing: 'Pittsburgh, PA 15213' | Source: 'Pittsburgh PA 15213'
(128) | ✅ MATCH (City, State, ZIP) | Extracted: 'Reston, VA 20191' | Existing: 'Reston, VA 20191' | Source: 'Reston VA 20191'
(129) | --- SKIPPED --- (Source is NaN)
(130) | --- SKIPPED --- (Source is NaN)
(131) | ✅ MATCH (City, State, ZIP) | Extracted: 'Chicago, IL 60606' | Existing: 'Chicago, IL 60606' | Source: 'Chicago IL 60606'
(132) | --- SKIPPED --- (Source is NaN)
(133) | ✅ MATCH (City, State, ZIP) | Extracted: 'Palo Alto, CA 94303' | Existing: 'Palo Alto, CA 94303' | Source: 'Palo Alto CA 94303'
(134) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cincinnati, OH 45202' | Existing: 'Cincinnati, OH 45202' | Source: 'Cincinnati OH 45202'
(135) | ✅ MATCH (City, State, ZIP) | Extracted: 'Atlanta, GA 30305' | Existing: 'Atlanta, GA 30305' | Source: 'Atlanta GA 30305'
(136) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Jose, CA 95134' | Existing: 'San Jose, CA 95134' | Source: 'San Jose CA 95134'
(137) | --- SKIPPED --- (Source is NaN)
(138) | --- SKIPPED --- (Source is NaN)
(139) | --- SKIPPED --- (Source is NaN)
(140) | --- SKIPPED --- (Source is NaN)
(141) | --- SKIPPED --- (Source is NaN)
(142) | --- SKIPPED --- (Source is NaN)
(143) | --- SKIPPED --- (Source is NaN)
(144) | ✅ MATCH (City, State, ZIP) | Extracted: 'Sterling, VA 20166' | Existing: 'Sterling, VA 20166' | Source: 'Sterling VA 20166'
(145) | --- SKIPPED --- (Source is NaN)
(146) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94107' | Existing: 'San Francisco, CA 94107' | Source: 'San Francisco CA 94107'
(147) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10011' | Existing: 'New York, NY 10011' | Source: 'New York NY 10011'
(148) | --- SKIPPED --- (Source is NaN)
(149) | --- SKIPPED --- (Source is NaN)
(150) | --- SKIPPED --- (Source is NaN)
(151) | --- SKIPPED --- (Source is NaN)
(152) | ✅ MATCH (City, State, ZIP) | Extracted: 'Oakland, CA 94609' | Existing: 'Oakland, CA 94609' | Source: 'Oakland CA 94609'
(153) | --- SKIPPED --- (Source is NaN)
(154) | --- SKIPPED --- (Source is NaN)
(155) | --- SKIPPED --- (Source is NaN)
(156) | --- SKIPPED --- (Source is NaN)
(157) | ✅ MATCH (City, State, ZIP) | Extracted: 'Boston, MA 2109' | Existing: 'Boston, MA 2109' | Source: 'Boston MA 2109'
(158) | ✅ MATCH (City, State, ZIP) | Extracted: 'Sunnyvale, CA 94085' | Existing: 'Sunnyvale, CA 94085' | Source: 'Sunnyvale CA 94085'
(159) | --- SKIPPED --- (Source is NaN)
(160) | --- SKIPPED --- (Source is NaN)
(161) | ✅ MATCH (City, State, ZIP) | Extracted: 'Centennial, CO 80112' | Existing: 'Centennial, CO 80112' | Source: 'Centennial CO 80112'
(162) | ✅ MATCH (City, State, ZIP) | Extracted: 'Chicago, IL 60631' | Existing: 'Chicago, IL 60631' | Source: 'Chicago IL 60631'
(163) | --- SKIPPED --- (Source is NaN)
(164) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Jose, CA 95134' | Existing: 'San Jose, CA 95134' | Source: 'San Jose CA 95134'
(165) | --- SKIPPED --- (Source is NaN)
(166) | --- SKIPPED --- (Source is NaN)
(167) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Memphis, TN 38103' | Existing: 'Memphis, TN 38103-4717' | Source: 'Memphis TN 38103-4717'
(168) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10013' | Existing: 'New York, NY 10013' | Source: 'New York NY 10013'
(169) | --- SKIPPED --- (Source is NaN)
(170) | --- SKIPPED --- (Source is NaN)
(171) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10013' | Existing: 'New York, NY 10013' | Source: 'New York NY 10013'
(172) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cambridge, MA 2139' | Existing: 'Cambridge, MA 2139' | Source: 'Cambridge MA 2139'
(173) | ✅ MATCH (City, State, ZIP) | Extracted: 'Plymouth, MN 55441' | Existing: 'Plymouth, MN 55441' | Source: 'Plymouth MN 55441'
(174) | --- SKIPPED --- (Source is NaN)
(175) | --- SKIPPED --- (Source is NaN)
(176) | ✅ MATCH (City, State, ZIP) | Extracted: 'Seattle, WA 98104' | Existing: 'Seattle, WA 98104' | Source: 'Seattle WA 98104'
(177) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94108' | Existing: 'San Francisco, CA 94108' | Source: 'San Francisco CA 94108'
(178) | --- SKIPPED --- (Source is NaN)
(179) | --- SKIPPED --- (Source is NaN)
(180) | --- SKIPPED --- (Source is NaN)
(181) | --- SKIPPED --- (Source is NaN)
(182) | --- SKIPPED --- (Source is NaN)
(183) | --- SKIPPED --- (Source is NaN)
(184) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10012' | Existing: 'New York, NY 10012' | Source: 'New York NY 10012'
(185) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94108' | Existing: 'San Francisco, CA 94108' | Source: 'San Francisco CA 94108'
(186) | --- SKIPPED --- (Source is NaN)
(187) | --- SKIPPED --- (Source is NaN)
(188) | --- SKIPPED --- (Source is NaN)
(189) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94103' | Existing: 'San Francisco, CA 94103' | Source: 'San Francisco CA 94103'
(190) | ✅ MATCH (City, State, ZIP) | Extracted: 'Waltham, MA 2451' | Existing: 'Waltham, MA 2451' | Source: 'Waltham MA 2451'
(191) | --- SKIPPED --- (Source is NaN)
(192) | --- SKIPPED --- (Source is NaN)
(193) | --- SKIPPED --- (Source is NaN)
(194) | --- SKIPPED --- (Source is NaN)
(195) | --- SKIPPED --- (Source is NaN)
(196) | --- SKIPPED --- (Source is NaN)
(197) | --- SKIPPED --- (Source is NaN)
(198) | ✅ MATCH (City, State, ZIP) | Extracted: 'Pittsburgh, PA 15218' | Existing: 'Pittsburgh, PA 15218' | Source: 'Pittsburgh PA 15218'
(199) | --- SKIPPED --- (Source is NaN)
(200) | ✅ MATCH (City, State, ZIP) | Extracted: 'Santa Monica, CA 90405' | Existing: 'Santa Monica, CA 90405' | Source: 'Santa Monica CA 90405'
(201) | ✅ MATCH (City, State, ZIP) | Extracted: 'Warrenville, IL 60555' | Existing: 'Warrenville, IL 60555' | Source: 'Warrenville IL 60555'
(202) | --- SKIPPED --- (Source is NaN)
(203) | --- SKIPPED --- (Source is NaN)
(204) | --- SKIPPED --- (Source is NaN)
(205) | --- SKIPPED --- (Source is NaN)
(206) | --- SKIPPED --- (Source is NaN)
(207) | --- SKIPPED --- (Source is NaN)
(208) | --- SKIPPED --- (Source is NaN)
(209) | ✅ MATCH (City, State, ZIP) | Extracted: 'Austin, TX 78729' | Existing: 'Austin, TX 78729' | Source: 'Austin TX 78729'
(210) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Marlborough, MA 01752' | Existing: 'Marlborough, MA 01752-4603' | Source: 'Marlborough MA 01752-4603'
(211) | --- SKIPPED --- (Source is NaN)
(212) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94110' | Existing: 'San Francisco, CA 94110' | Source: 'San Francisco CA 94110'
(213) | --- SKIPPED --- (Source is NaN)
(214) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10154' | Existing: 'New York, NY 10154' | Source: 'New York NY 10154'
(215) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Jose, CA 95134' | Existing: 'San Jose, CA 95134' | Source: 'San Jose CA 95134'
(216) | ✅ MATCH (City, State, ZIP) | Extracted: 'Playa Vista, CA 90094' | Existing: 'Playa Vista, CA 90094' | Source: 'Playa Vista CA 90094'
(217) | --- SKIPPED --- (Source is NaN)
(218) | ✅ MATCH (City, State, ZIP) | Extracted: 'Cupertino, CA 95014' | Existing: 'Cupertino, CA 95014' | Source: 'Cupertino CA 95014'
(219) | ✅ MATCH (City, State, ZIP) | Extracted: 'New York, NY 10013' | Existing: 'New York, NY 10013' | Source: 'New York NY 10013'
(220) | ✅ MATCH (City, State, ZIP) | Extracted: 'Providence, RI 2906' | Existing: 'Providence, RI 2906' | Source: 'Providence RI 2906'
(221) | --- SKIPPED --- (Source is NaN)
(222) | --- SKIPPED --- (Source is NaN)
(223) | ✅ MATCH (City, State, ZIP) | Extracted: 'San Francisco, CA 94105' | Existing: 'San Francisco, CA 94105' | Source: 'San Francisco CA 94105'
(224) | --- SKIPPED --- (Source is NaN)
(225) | --- SKIPPED --- (Source is NaN)
(226) | ❌ MISMATCH (City, State, ZIP ❌) | Extracted: 'Mountain View, CA 94043' | Existing: 'Mountain View, CA 94043-1107' | Source: 'Mountain View CA 94043-1107'
(227) | --- SKIPPED --- (Source is NaN)
(228) | --- SKIPPED --- (Source is NaN)
(229) | --- SKIPPED --- (Source is NaN)
(230) | ✅ MATCH (City, State, ZIP) | Extracted: 'Plano, TX 75023' | Existing: 'Plano, TX 75023' | Source: 'Plano TX 75023'
(231) | --- SKIPPED --- (Source is NaN)
(232) | --- SKIPPED --- (Source is NaN)
(233) | --- SKIPPED --- (Source is NaN)
(234) | --- SKIPPED --- (Source is NaN)
(235) | --- SKIPPED --- (Source is NaN)
(236) | --- SKIPPED --- (Source is NaN)
(237) | ✅ MATCH (City, State, ZIP) | Extracted: 'Chicago, IL 60657' | Existing: 'Chicago, IL 60657' | Source: 'Chicago IL 60657'
(238) | --- SKIPPED --- (Source is NaN)
(239) | --- SKIPPED --- (Source is NaN)
(240) | ✅ MATCH (City, State, ZIP) | Extracted: 'Mountain View, CA 94043' | Existing: 'Mountain View, CA 94043' | Source: 'Mountain View CA 94043'
(241) | --- SKIPPED --- (Source is NaN)
(242) | --- SKIPPED --- (Source is NaN)
(243) | --- SKIPPED --- (Source is NaN)
(244) | --- SKIPPED --- (Source is NaN)

### States data
- we have state_code ,'state_code.1', 'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate' columns related to the state
- 'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate' seems to be a one-hot-encoded of the 'state_code'
- 'state_code.1' is a copy of 'state_code' with a null value

In [63]:
df['state_code'].unique()

array(['CA', 'MA', 'KY', 'NY', 'CO', 'VA', 'TX', 'WA', 'IL', 'NC', 'PA',
       'GA', 'NH', 'MO', 'FL', 'NJ', 'WV', 'MI', 'DC', 'CT', 'MD', 'OH',
       'TN', 'MN', 'RI', 'OR', 'UT', 'ME', 'NV', 'NM', 'IN', 'AZ', 'ID',
       'AR', 'WI'], dtype=object)

In [64]:
df['state_code.1'].unique()

array(['CA', 'MA', 'KY', 'NY', 'CO', 'VA', 'TX', 'WA', 'IL', 'NC', 'PA',
       'GA', 'NH', 'MO', 'FL', 'NJ', 'WV', 'MI', 'DC', 'CT', 'MD', 'OH',
       'TN', 'MN', 'RI', 'OR', 'UT', 'ME', 'NV', 'NM', 'IN', nan, 'AZ',
       'ID', 'AR', 'WI'], dtype=object)

In [65]:
#check if it equals the state_code.1 column
non_null_mask = df['state_code'].notna() & df['state_code.1'].notna()

# Step 2: Compare values only at non-null locations
are_equal_at_non_null = df.loc[non_null_mask, 'state_code'] == df.loc[non_null_mask, 'state_code.1']

# Step 3: Check if all compared values are equal
result_col1_col2 = are_equal_at_non_null.all()
print(f"Are 'state_code' and 'state_code.1' equal (ignoring nulls)? {result_col1_col2}")

Are 'state_code' and 'state_code.1' equal (ignoring nulls)? True

In [66]:
# Define the states expected to have their own column
target_states = ['CA', 'NY', 'MA', 'TX']

# --- Step 1: Create the expected one-hot columns ---

# Create a Series that represents the 'other' state status
# Use .fillna('') to treat null state_codes as belonging to 'other' if they are not CA, NY, MA, or TX
is_other = ~df['state_code'].isin(target_states)

# Create a dictionary to hold the expected boolean results
expected_cols = {}

# Check individual target states
for state in target_states:
    # Check if state_code equals the target state
    expected_cols[f'is_{state}'] = (df['state_code'] == state)

# Check the 'is_otherstate' column
expected_cols['is_otherstate'] = is_other

# --- Step 2: Compare the existing and expected columns ---

# Initialize a check status dictionary
ohe_check_status = {
    'total_rows': len(df),
    'is_ohe_valid': True,
    'mismatches_by_column': {}
}

# Compare and count mismatches
for col_name, expected_series in expected_cols.items():
    # Ensure the expected boolean series matches the existing OHE column
    # Use .astype(bool) on the existing column to handle integer (0/1) or string ('True'/'False') representations
    existing_series = df[col_name].astype(bool)

    mismatches = (existing_series != expected_series).sum()
    ohe_check_status['mismatches_by_column'][col_name] = mismatches

    if mismatches > 0:
        ohe_check_status['is_ohe_valid'] = False

# --- Step 3: Print the results ---

print("==One-Hot Encoding Validation Results==")
print("---")
print(f"Total Records Checked:   {ohe_check_status['total_rows']}")
print(f"Overall Validation Status:  {'✅ Confirmed' if ohe_check_status['is_ohe_valid'] else '❌ Mismatches Found'}")
print("---")
print("  Mismatches by OHE Column:")
for col, count in ohe_check_status['mismatches_by_column'].items():
    print(f"- {col}: {count} mismatches")

# Optional: Check the row sum (a good OHE property)
# The sum of all OHE columns should equal 1 for every non-null state_code row
row_sum_check = df[['is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate']].sum(axis=1)
rows_not_summing_to_one = (row_sum_check != 1).sum()

print("\nAdditional Check (Row Sum):")
print(f" Number of rows where OHE columns do NOT sum to 1: {rows_not_summing_to_one} (Ideally 0 for full coverage)")

==One-Hot Encoding Validation Results==
---
Total Records Checked:   923
Overall Validation Status:  ❌ Mismatches Found
---
  Mismatches by OHE Column:
- is_CA: 1 mismatches
- is_NY: 0 mismatches
- is_MA: 0 mismatches
- is_TX: 0 mismatches
- is_otherstate: 0 mismatches

Additional Check (Row Sum):
 Number of rows where OHE columns do NOT sum to 1: 1 (Ideally 0 for full coverage)

### category code
- this is the category
- 'is_software',  'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
    'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
    'is_othercategory' are OHE of the column

In [67]:
df['category_code'].unique()

array(['music', 'enterprise', 'web', 'software', 'games_video',
       'network_hosting', 'finance', 'mobile', 'education',
       'public_relations', 'security', 'other', 'photo_video', 'hardware',
       'ecommerce', 'advertising', 'travel', 'fashion', 'analytics',
       'consulting', 'biotech', 'cleantech', 'search', 'semiconductor',
       'social', 'medical', 'automotive', 'messaging', 'manufacturing',
       'hospitality', 'news', 'transportation', 'sports', 'real_estate',
       'health'], dtype=object)

### Age evaluation
- age first funding year is the age of the company in years since it got first funding. similar for age last funding year
- knowing this, the columns that start with "age" should not include negetive values (unless it was funded to be found)
- However, in the data description all the 4 columns [age_first_funding_year, age_last_funding_year, age_first_milestone_year, age_last_milestone_year] min value is negative
- precise_year_diff shows how the age was calculated, we still have many negative values which may indecate that the founded_at date is not accurate

In [68]:
df[['age_first_funding_year', 'age_last_funding_year', 'age_first_milestone_year', 'age_last_milestone_year']].describe()

,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year
count,923.000000,923.000000,771.000000,771.000000
mean,2.235630,3.931456,3.055353,4.754423
std,2.510449,2.967910,2.977057,3.212107
min,-9.046600,-9.046600,-14.169900,-7.005500
25%,0.576700,1.669850,1.000000,2.411000
50%,1.446600,3.528800,2.520500,4.476700
75%,3.575350,5.560250,4.686300,6.753400
max,21.895900,21.895900,24.684900,24.684900

In [69]:
df[df['age_first_funding_year'] <= 0]

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed
23,26,CA,37.764395,-122.401024,94103,c:10751,San Francisco,NaN,Pixelpipe,0,...,c:10751,0,1,1,0,0,0,2.0000,0,closed
32,485,NC,36.002893,-78.904075,27701,c:27741,Durham,NaN,eMinor,0,...,c:27741,0,0,1,1,0,0,2.5000,1,closed
33,145,CA,37.779281,-122.419236,94105,c:150658,San Francisco,San Francisco CA 94105,Karma,1,...,c:150658,1,0,0,0,0,0,5.0000,1,acquired
39,63,NY,40.755446,-73.980246,10010,c:1224,New York,NaN,Peer39,1,...,c:1224,1,1,1,1,1,0,2.7500,1,acquired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,686,CA,37.504764,-122.259568,94085,c:3950,Sunnyvale,NaN,Cotendo,1,...,c:3950,0,0,1,1,1,1,3.0000,1,acquired
897,99,CA,32.938892,-117.239859,92130,c:13734,San Diego,NaN,Imagine Communications,1,...,c:13734,1,0,1,1,0,0,2.2500,1,acquired
900,1089,CO,40.016210,-105.281310,80302,c:815,Boulder,NaN,OneRiot,1,...,c:815,0,0,1,1,1,0,3.0000,1,acquired
902,191,CA,37.316790,-122.050790,95014,c:16178,Cupertino,NaN,ArcSight,1,...,c:16178,0,0,1,1,1,0,6.0000,1,acquired
916,284,NY,40.742953,-73.984461,10018,c:17758,New York,NaN,TRAFFIQ,1,...,c:17758,1,0,1,1,0,0,2.3333,1,acquired

In [70]:
df[df['age_last_funding_year'] <= 0]

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
71,315,CA,37.349210,-122.032602,94087,c:190214,Sunnyvale,NaN,Behavio,1,...,c:190214,0,1,0,0,0,0,1.0,0,acquired
167,159,TN,35.149022,-90.051628,38103-4717,c:155621,Memphis,Memphis TN 38103-4717,Friendsignia,0,...,c:155621,0,1,0,0,0,0,1.0,0,closed
201,906,IL,41.817807,-88.173402,60555,c:55044,Warrenville,Warrenville IL 60555,ezzai - how to arabia,0,...,c:55044,0,0,0,0,0,0,2.0,0,closed
207,1147,CA,26.052461,-80.137881,95037,c:9730,Morgan Hill,NaN,OfferLounge,0,...,c:9730,0,1,0,0,0,0,2.0,0,closed
223,1050,CA,37.779281,-122.419236,94105,c:75500,San Francisco,San Francisco CA 94105,Solmentum,0,...,c:75500,0,1,0,0,0,0,4.0,0,closed
234,1032,CA,37.465645,-121.932202,94538,c:72,Fremont,NaN,GrandCentral,1,...,c:72,0,0,1,0,0,0,1.0,0,acquired
249,437,NY,40.723652,-73.985281,10016,c:2566,New York,NaN,Kluster,1,...,c:2566,0,1,0,0,0,0,1.0,1,acquired
263,891,UT,40.767013,-111.890431,84124,c:53831,Salt Lake City,Salt Lake City UT 84124,Inaura,0,...,c:53831,1,0,0,0,0,0,1.0,0,closed
283,246,CA,34.430786,-119.715074,93101,c:17030,Santa Barbara,NaN,SendMeHome.com,0,...,c:17030,0,1,0,0,0,0,2.0,0,closed
284,88,CA,37.448944,-122.161415,94301,c:13358,Palo Alto,NaN,Q-magic,0,...,c:13358,0,1,0,0,0,0,1.0,0,closed
300,876,TX,30.280148,-97.749908,78701,c:51969,Austin,Austin TX 78701,Hurricane Party,0,...,c:51969,0,1,0,0,0,0,1.0,0,closed
336,148,CA,37.794891,-122.397901,94111,c:15129,San Franciso,NaN,Zentact,0,...,c:15129,0,1,0,0,0,0,3.0,0,closed
340,1113,CA,37.388077,-122.083160,94041,c:86,Mountain View,NaN,Zing Systems,1,...,c:86,0,0,1,0,1,0,2.5,1,acquired
417,199,NY,40.752516,-73.973072,10017,c:1627,New York,NaN,WeShow,0,...,c:1627,0,0,1,0,0,0,2.0,0,closed
431,886,CA,34.066697,-118.383367,90211,c:53304,Beverly Hills,Beverly Hills CA 90211,GeekStatus,0,...,c:53304,0,1,0,0,0,0,1.0,0,closed
432,314,CT,54.983201,-1.574631,6103,c:1899,Hartford,Hartford CT 6103,MOLI,0,...,c:1899,0,0,1,1,0,0,2.0,0,closed
468,144,OH,39.099909,-84.504243,45202,c:150577,Cincinnati,Cincinnati OH 45202,StyleZen,0,...,c:150577,0,1,0,0,0,0,1.0,0,closed
489,325,CA,37.550954,-122.315396,94303,c:1957,Palo Alto,NaN,Sharetivity,0,...,c:1957,0,0,0,0,0,0,1.0,0,closed
536,69,WA,47.603327,-122.334983,98104,c:1253,Seattle,NaN,Faves,0,...,c:1253,0,0,0,0,0,0,3.0,0,closed
558,372,NY,40.743662,-73.984268,10016,c:2245,New York,NaN,Advaliant,0,...,c:2245,0,1,0,0,0,0,1.0,0,closed
567,839,CA,37.814202,-122.477959,94025,c:4881,Menlo Park,NaN,Syncplicity,1,...,c:4881,0,0,1,0,0,0,2.0,1,acquired
603,990,CA,37.779281,-122.419236,94105,c:63731,San Francisco,San Francisco CA 94105,Weatherista,0,...,c:63731,0,1,0,0,0,0,1.0,0,closed
702,118,DC,38.894955,-77.036646,20005,c:144631,Washington,Washington DC 20005,VeteranCentral.com,0,...,c:144631,0,1,0,0,0,0,1.0,0,closed
721,361,CA,37.777678,-122.392110,94107,c:2178,San Francisco,NaN,What They Like,0,...,c:2178,0,0,1,0,0,0,2.0,0,closed
748,1024,NY,40.728425,-73.999882,10012,c:70661,New York,New York NY 10012,StyleTrek,0,...,c:70661,0,0,0,0,0,0,6.0,1,closed
785,830,NY,40.759089,-73.987573,10036,c:47662,New York,New York NY 10036,SpinTheCam,0,...,c:47662,0,1,0,0,0,0,1.0,0,closed
787,941,OH,39.962260,-83.000706,43207,c:58696,Columbus,Columbus OH 43207,Dormzy,0,...,c:58696,0,1,0,0,0,0,1.0,0,closed
839,976,CA,33.831671,-118.315766,90501,c:6219,Torrance,NaN,DotSpots,0,...,c:6219,0,1,0,0,0,0,2.0,0,closed
840,669,CA,37.755068,-122.418026,94110,c:38337,San Francisco,NaN,about.me,1,...,c:38337,1,0,0,0,0,0,4.0,1,acquired
842,122,FL,28.666770,-81.392794,32714,c:14483,Altamonte Springs,NaN,Hit Systems,0,...,c:14483,0,1,0,0,0,0,1.0,0,closed

#### Recalculting the age funding year

In [ ]:
df['founded_at'] = pd.to_datetime(df['founded_at'], errors='coerce')
df['first_funding_at'] = pd.to_datetime(df['first_funding_at'], errors='coerce')
year_diff = df['first_funding_at'].dt.year - df['founded_at'].dt.year
year_diff

0      2
1      5
2      1
3      3
4      0
      ..
918    0
919    7
920    8
921    0
922    3
Length: 923, dtype: int64

In [86]:
# 16 values are less than zero, this may indecate an error in data entering
df[year_diff < 0]

,state_code,latitude,longitude,zip_code,city,name,labels,founded_at,closed_at,first_funding_at,...,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
23,CA,37.764395,-122.401024,94103,San Francisco,Pixelpipe,0,2008-01-01,8/2/2013,2007-01-01,...,mobile,0,1,1,0,0,0,2.0000,0,closed
127,PA,40.441694,-79.990086,15213,Pittsburgh,Bueda,0,2009-01-04,6/1/2013,2008-01-01,...,advertising,1,1,0,0,0,0,1.0000,1,closed
240,CA,37.406914,-122.090370,94043,Mountain View,UpMo,0,2011-01-01,7/1/2013,2009-12-13,...,enterprise,1,0,0,0,0,0,3.0000,0,closed
263,UT,40.767013,-111.890431,84124,Salt Lake City,Inaura,0,2007-01-01,7/19/2012,2005-01-06,...,other,1,0,0,0,0,0,1.0000,0,closed
340,CA,37.388077,-122.083160,94041,Mountain View,Zing Systems,1,2007-06-01,NaN,2006-12-01,...,games_video,0,0,1,0,1,0,2.5000,1,acquired
379,MA,42.360253,-71.058291,2114,Boston,Where,1,2004-01-01,NaN,2003-12-31,...,mobile,0,0,1,1,1,0,2.5000,1,acquired
420,CA,32.889450,-117.166929,92121,San Diego,Tapioca Mobile,0,2008-01-01,7/9/2012,2007-09-01,...,mobile,1,1,0,0,0,0,1.0000,1,closed
431,CA,34.066697,-118.383367,90211,Beverly Hills,GeekStatus,0,2010-08-01,6/1/2013,2009-02-10,...,web,0,1,0,0,0,0,1.0000,0,closed
432,CT,54.983201,-1.574631,6103,Hartford,MOLI,0,2008-01-01,5/24/2010,2007-01-01,...,network_hosting,0,0,1,1,0,0,2.0000,0,closed
489,CA,37.550954,-122.315396,94303,Palo Alto,Sharetivity,0,2007-07-07,11/11/2012,2006-05-01,...,web,0,0,0,0,0,0,1.0000,0,closed
499,CA,37.437328,-122.159928,94303,Palo Alto,MyMiniLife,1,2007-01-01,NaN,2006-11-15,...,games_video,0,1,0,0,0,0,1.6667,0,acquired
558,NY,40.743662,-73.984268,10016,New York,Advaliant,0,2013-04-16,5/4/2009,2004-04-01,...,advertising,0,1,0,0,0,0,1.0000,0,closed
584,MA,42.358956,-71.054776,2109,Boston,Swaptree Inc.,0,2010-01-01,5/1/2013,2006-07-01,...,web,1,0,0,1,1,0,1.0000,1,closed
788,CA,34.144926,-118.149767,91105,Pasadena,iChange,1,2008-01-01,NaN,2007-10-01,...,health,0,1,1,0,0,0,2.0000,0,acquired
831,NY,40.707645,-74.010816,10038,New York,Correlix,0,2006-01-01,5/1/2013,2005-02-19,...,enterprise,1,0,0,1,0,0,3.0000,1,closed
847,RI,41.818712,-71.411775,2903,Providence,"MoveableCode, Inc.",0,2010-01-01,1/14/2012,2009-01-01,...,mobile,0,1,0,0,0,0,1.0000,1,closed

In [91]:
time_difference = df['first_funding_at'] - df['founded_at']
precise_year_diff = time_difference.dt.days / 365
precise_year_diff

0      2.249315
1      5.126027
2      1.032877
3      3.131507
4      0.000000
         ...
918    0.517808
919    7.252055
920    8.495890
921    0.758904
922    3.120548
Length: 923, dtype: float64

In [94]:
df[precise_year_diff < 0]

,state_code,latitude,longitude,zip_code,city,name,labels,founded_at,closed_at,first_funding_at,...,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
23,CA,37.764395,-122.401024,94103,San Francisco,Pixelpipe,0,2008-01-01,8/2/2013,2007-01-01,...,mobile,0,1,1,0,0,0,2.0000,0,closed
32,NC,36.002893,-78.904075,27701,Durham,eMinor,0,2006-10-01,2/17/2012,2006-08-01,...,software,0,0,1,1,0,0,2.5000,1,closed
71,CA,37.349210,-122.032602,94087,Sunnyvale,Behavio,1,2012-06-12,NaN,2012-06-01,...,software,0,1,0,0,0,0,1.0000,0,acquired
79,MA,42.375100,-71.105616,2138,Cambridge,AccelGolf,0,2008-08-01,5/1/2013,2008-01-01,...,mobile,1,1,0,0,0,0,1.0000,1,closed
80,CA,37.779281,-122.419236,94105,San Francisco,MoPub,1,2010-09-09,NaN,2010-09-01,...,mobile,0,1,1,1,0,0,2.2500,1,acquired
104,CA,37.748676,-122.415813,94110,San Francisco,Aardvark,1,2007-07-01,9/1/2011,2007-01-01,...,web,0,1,1,0,0,0,4.0000,1,acquired
122,TX,40.694599,-73.990638,78701,Austin,Workstreamer,0,2009-10-01,6/1/2013,2009-01-01,...,enterprise,0,1,1,0,0,0,1.0000,1,closed
127,PA,40.441694,-79.990086,15213,Pittsburgh,Bueda,0,2009-01-04,6/1/2013,2008-01-01,...,advertising,1,1,0,0,0,0,1.0000,1,closed
234,CA,37.465645,-121.932202,94538,Fremont,GrandCentral,1,2006-04-01,NaN,2006-01-01,...,mobile,0,0,1,0,0,0,1.0000,0,acquired
240,CA,37.406914,-122.090370,94043,Mountain View,UpMo,0,2011-01-01,7/1/2013,2009-12-13,...,enterprise,1,0,0,0,0,0,3.0000,0,closed
263,UT,40.767013,-111.890431,84124,Salt Lake City,Inaura,0,2007-01-01,7/19/2012,2005-01-06,...,other,1,0,0,0,0,0,1.0000,0,closed
284,CA,37.448944,-122.161415,94301,Palo Alto,Q-magic,0,2007-02-01,11/29/2011,2007-01-01,...,public_relations,0,1,0,0,0,0,1.0000,0,closed
312,CA,37.778613,-122.395289,94107,San Francisco,Powerset,1,2006-10-01,NaN,2006-05-01,...,search,1,0,1,0,0,0,4.0000,1,acquired
340,CA,37.388077,-122.083160,94041,Mountain View,Zing Systems,1,2007-06-01,NaN,2006-12-01,...,games_video,0,0,1,0,1,0,2.5000,1,acquired
368,CA,33.685697,-117.825982,92612,Irvine,PayDivvy,1,2009-03-06,NaN,2009-01-15,...,social,0,1,0,0,0,0,1.0000,0,acquired
379,MA,42.360253,-71.058291,2114,Boston,Where,1,2004-01-01,NaN,2003-12-31,...,mobile,0,0,1,1,1,0,2.5000,1,acquired
382,CA,37.779281,-122.419236,94103,San Francisco,Storify,1,2009-12-11,NaN,2009-07-01,...,web,0,1,1,0,0,0,1.3333,1,acquired
397,NY,37.809782,-122.417306,10003,New York,Surphace,1,2005-06-01,NaN,2005-04-01,...,web,0,0,1,1,0,0,5.5000,1,acquired
407,NY,40.729839,-73.991781,10003,New York,The Huffington Post,1,2005-05-09,NaN,2005-05-01,...,news,1,0,1,1,1,0,2.5000,1,acquired
420,CA,32.889450,-117.166929,92121,San Diego,Tapioca Mobile,0,2008-01-01,7/9/2012,2007-09-01,...,mobile,1,1,0,0,0,0,1.0000,1,closed
431,CA,34.066697,-118.383367,90211,Beverly Hills,GeekStatus,0,2010-08-01,6/1/2013,2009-02-10,...,web,0,1,0,0,0,0,1.0000,0,closed
432,CT,54.983201,-1.574631,6103,Hartford,MOLI,0,2008-01-01,5/24/2010,2007-01-01,...,network_hosting,0,0,1,1,0,0,2.0000,0,closed
466,CA,37.775206,-122.419209,94107,San Francisco,threadsy,1,2008-06-01,NaN,2008-03-27,...,messaging,0,0,1,1,0,0,2.0000,1,acquired
488,CA,37.387845,-122.055197,94089,Sunnyvale,Plaxo,1,2002-11-17,NaN,2002-11-01,...,web,0,0,1,1,1,1,2.5000,1,acquired
489,CA,37.550954,-122.315396,94303,Palo Alto,Sharetivity,0,2007-07-07,11/11/2012,2006-05-01,...,web,0,0,0,0,0,0,1.0000,0,closed
499,CA,37.437328,-122.159928,94303,Palo Alto,MyMiniLife,1,2007-01-01,NaN,2006-11-15,...,games_video,0,1,0,0,0,0,1.6667,0,acquired
513,NY,40.743808,-73.983626,10010,New York,Next New Networks,1,2007-03-01,NaN,2007-01-01,...,web,0,0,1,1,1,0,3.5000,1,acquired
518,CA,37.563585,-122.324621,94043,Mountain View,AdMob,1,2006-12-01,NaN,2006-09-01,...,advertising,0,0,1,1,1,0,2.5000,1,acquired
536,WA,47.603327,-122.334983,98104,Seattle,Faves,0,2004-12-01,12/31/2011,2004-01-01,...,web,0,0,0,0,0,0,3.0000,0,closed
558,NY,40.743662,-73.984268,10016,New York,Advaliant,0,2013-04-16,5/4/2009,2004-04-01,...,advertising,0,1,0,0,0,0,1.0000,0,closed
566,KY,38.046407,-84.497039,40507,Lexington,AwesomeTouch,1,2010-07-26,NaN,2010-04-30,...,software,0,1,0,0,0,0,1.0000,1,acquired
567,CA,37.814202,-122.477959,94025,Menlo Park,Syncplicity,1,2008-11-03,NaN,2008-10-31,...,enterprise,0,0,1,0,0,0,2.0000,1,acquired
584,MA,42.358956,-71.054776,2109,Boston,Swaptree Inc.,0,2010-01-01,5/1/2013,2006-07-01,...,web,1,0,0,1,1,0,1.0000,1,closed
603,CA,37.779281,-122.419236,94105,San Francisco,Weatherista,0,2010-08-16,9/1/2012,2010-08-15,...,web,0,1,0,0,0,0,1.0000,0,closed
609,CA,37.406302,-122.108874,94040,Mountain View,HighlightCam,0,2009-07-27,10/30/2013,2009-06-01,...,mobile,0,1,1,0,0,0,3.5000,1,closed
702,DC,38.894955,-77.036646,20005,Washington,VeteranCentral.com,0,2011-12-15,7/1/2013,2011-06-15,...,social,0,1,0,0,0,0,1.0000,0,closed
720,TX,30.280148,-97.749908,78701,Austin,MapMyFitness,1,2007-02-08,NaN,2007-01-01,...,health,1,0,1,1,1,0,1.7500,1,acquired
763,CA,37.779281,-122.419236,94110,San Francisco,1000memories,1,2010-07-01,NaN,2010-01-01,...,web,0,1,1,0,0,0,5.0000,1,acquired
782,UT,40.233844,-111.658534,84087,Provo,Tipping Bucket,0,2009-04-08,1/1/2012,2009-04-01,...,enterprise,0,1,0,0,0,0,1.0000,0,closed
785,NY,40.759089,-73.987573,10036,New York,SpinTheCam,0,2010-02-12,2/17/2012,2010-01-01,...,games_video,0,1,0,0,0,0,1.0000,0,closed
788,CA,34.144926,-118.149767,91105,Pasadena,iChange,1,2008-01-01,NaN,2007-10-01,...,health,0,1,1,0,0,0,2.0000,0,acquired
830,CA,37.779281,-122.419236,94111,San Francisco,Cohuman,1,2009-10-09,NaN,2009-09-09,...,enterprise,0,1,0,0,0,0,3.0000,0,acquired
831,NY,40.707645,-74.010816,10038,New York,Correlix,0,2006-01-01,5/1/2013,2005-02-19,...,enterprise,1,0,0,1,0,0,3.0000,1,closed
847,RI,41.818712,-71.411775,2903,Providence,"MoveableCode, Inc.",0,2010-01-01,1/14/2012,2009-01-01,...,mobile,0,1,0,0,0,0,1.0000,1,closed
851,CA,37.779281,-122.419236,94107,San Francisco,Opzi,0,2010-05-01,7/1/2013,2010-01-01,...,games_video,0,1,0,0,0,0,5.0000,1,closed
875,MA,42.375100,-71.105616,2139,Cambridge,Bluefin Labs,1,2008-06-01,NaN,2008-04-01,...,analytics,0,1,1,1,0,0,3.7500,1,acquired

In [98]:
(df['age_first_funding_year'] - precise_year_diff).abs().sum()

0.02178767123287831

### Fundings

In [102]:
df[['funding_rounds', 'has_VC', 'has_angel', 'has_roundA', 'has_roundB', 'has_roundC', 'has_roundD']]

,funding_rounds,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD
0,3,0,1,0,0,0,0
1,4,1,0,0,1,1,1
2,1,0,0,1,0,0,0
3,3,0,0,0,1,1,1
4,2,1,1,0,0,0,0
...,...,...,...,...,...,...,...
918,1,0,0,1,0,0,0
919,3,1,0,0,1,0,0
920,1,0,0,0,0,0,1
921,2,0,0,1,1,0,0
922,1,0,0,0,1,0,0

In [103]:
df['milestones']

0      3
1      1
2      2
3      1
4      1
      ..
918    2
919    1
920    1
921    2
922    1
Name: milestones, Length: 923, dtype: int64

# Dropping Columns

In [71]:
df.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [73]:
columns_to_drop=['Unnamed: 0', 'id', 'Unnamed: 6', 'state_code.1', 'is_CA', 'is_NY', 'is_MA', 'is_TX', 'is_otherstate', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting', 'object_id',
       'is_othercategory']
df.drop(columns= columns_to_drop, inplace=True)
df

,state_code,latitude,longitude,zip_code,city,name,labels,founded_at,closed_at,first_funding_at,...,category_code,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,CA,42.358880,-71.056820,92101,San Diego,Bandsintown,1,1/1/2007,NaN,4/1/2009,...,music,0,1,0,0,0,0,1.0000,0,acquired
1,CA,37.238916,-121.973718,95032,Los Gatos,TriCipher,1,1/1/2000,NaN,2/14/2005,...,enterprise,1,0,0,1,1,1,4.7500,1,acquired
2,CA,32.901049,-117.192656,92121,San Diego,Plixi,1,3/18/2009,NaN,3/30/2010,...,web,0,0,1,0,0,0,4.0000,1,acquired
3,CA,37.320309,-122.050040,95014,Cupertino,Solidcore Systems,1,1/1/2002,NaN,2/17/2005,...,software,0,0,0,1,1,1,3.3333,1,acquired
4,CA,37.779281,-122.419236,94105,San Francisco,Inhale Digital,0,8/1/2010,10/1/2012,8/1/2010,...,games_video,1,1,0,0,0,0,1.0000,1,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,CA,37.740594,-122.376471,94107,San Francisco,CoTweet,1,1/1/2009,NaN,7/9/2009,...,advertising,0,0,1,0,0,0,6.0000,1,acquired
919,MA,42.504817,-71.195611,1803,Burlington,Reef Point Systems,0,1/1/1998,6/25/2008,4/1/2005,...,security,1,0,0,1,0,0,2.6667,1,closed
920,CA,37.408261,-122.015920,94089,Sunnyvale,Paracor Medical,0,1/1/1999,6/17/2012,6/29/2007,...,biotech,0,0,0,0,0,1,8.0000,1,closed
921,CA,37.556732,-122.288378,94404,San Francisco,Causata,1,1/1/2009,NaN,10/5/2009,...,software,0,0,1,1,0,0,1.0000,1,acquired
922,CA,37.386778,-121.966277,95054,Santa Clara,Asempra Technologies,1,1/1/2003,NaN,2/13/2006,...,security,0,0,0,1,0,0,3.0000,1,acquired

In [74]:
df.columns

Index(['state_code', 'latitude', 'longitude', 'zip_code', 'city', 'name',
       'labels', 'founded_at', 'closed_at', 'first_funding_at',
       'last_funding_at', 'age_first_funding_year', 'age_last_funding_year',
       'age_first_milestone_year', 'age_last_milestone_year', 'relationships',
       'funding_rounds', 'funding_total_usd', 'milestones', 'category_code',
       'has_VC', 'has_angel', 'has_roundA', 'has_roundB', 'has_roundC',
       'has_roundD', 'avg_participants', 'is_top500', 'status'],
      dtype='object')

In [75]:
df['founded_at']

0       1/1/2007
1       1/1/2000
2      3/18/2009
3       1/1/2002
4       8/1/2010
         ...
918     1/1/2009
919     1/1/1998
920     1/1/1999
921     1/1/2009
922     1/1/2003
Name: founded_at, Length: 923, dtype: object